$primary: #040314;
$secondary: #1e1e1e;
$font1: "Roboto", sans-serif;
$fontcolor1: #ccc;

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: $font1;
    color: $fontcolor1;
    background-color: $primary;
    padding-top: 100px;
}

.header{
    background: $secondary;
    width: 100%;
    position: fixed;
    top: 0;
    box-shadow: 0 0 10px #ccc;
    padding: 20px;
    box-sizing: border-box;
    img{
        width: 250px;
        margin-left: 5%;

    }
}

.header .header-menu {
    border: 1px solid #ccc;
    padding: 10px;
    color: $fontcolor1;
    text-decoration: none;
    float: right; 
    margin-top: 25px;
    border-radius: 5px;
}
.header .header-nav ul{
    list-style: none;
    li{
        margin: 15px;
        a{
            text-decoration: none;
            color: $fontcolor1;
        }
    }
}
.header .header-nav {
    display: none;
}

.show {
    display: block !important;
}





@media (min-width: 460px){

    .header .header-menu{
        display: none;
    }

    .header .header-nav{
        display: block;
    }

    .header .header-nav {
        float: right;
        margin-top: 15px;
        margin-right: 40px;
        font-size: 20px;
        
    }
    .header .header-nav ul li{
        display: inline-block;
    }

}