$primary: #040314;
$secondary: #1e1e1e;
$font1: "Roboto", sans-serif;
$fontcolor1: #ccc;

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: $font1;
    color: $fontcolor1;
    background-color: $primary;
    padding-top: 100px;


}

.header{
    background: $secondary;
    width: 100%;
    position: fixed;
    top: 0;
    box-shadow: 0 0 10px #ccc;
    padding: 20px;
    box-sizing: border-box;
    img{
        width: 200px;
        margin-left: 10%;

    }
}

.header .header-menu {
    border: 1px solid #ccc;
    padding: 10px;
    color: $fontcolor1;
    text-decoration: none;
    float: right; 
    margin-top: 25px;
    border-radius: 5px;
}

.header .header-nav ul{
    list-style: none;
    li{
        margin: 15px;
        a{
            text-decoration: none;
            color: $fontcolor1;

        }
    }
}

.header .header-nav {
    display: none;
}

.show {
    display: block !important;
}

.container {
    display: flex;
    width: 100%;
    margin-top: 5%;
    height: 100vh;
    padding: 0px 2%;
}

.caixa {
    width: 42%; 
    max-height: 60%; 
    color: white;
    h1{
        font-size: 3rem;
        margin-bottom: 1rem;
        line-height: 4rem;
        color: #00ff21;
    }
    h4{
        font-size: 1.5rem;
        margin-bottom: 1rem;
        animation: blink 3s infinite; 
        background-color: #00ff21;
        align-items: center;  
        width: 20%; 

    }
    p{
        font-family: $font1;
        margin-bottom: 4rem;
        text-align: justify;

    }

    img{
        width: 120%;

    }
    
}























