@charset "UTF-8";
.navbar {
  background-color: #1e1e1e; }
  .navbar .nav-link {
    font: 20px "Titillium Web", sans-serif;
    color: #fff;
    margin-left: 150px; }
  .navbar .navbar-nav .nav-link.show {
    color: #00ff21; }
  .navbar .dropdown-menu {
    background-color: #1e1e1e;
    border-radius: 0;
    border-top: 5px solid #00ff21; }
    .navbar .dropdown-menu .dropdown-item {
      font: 20px "Titillium Web", sans-serif;
      text-transform: uppercase;
      color: #00ff21; }
  .navbar .d-flex .btn {
    font-size: 10px "Titillium Web", sans-serif;
    border-radius: 0; }

.container {
  color: #fff; }
  .container h1 {
    color: #00ff21;
    justify-content: center;
    font-family: "Roboto", sans-serif; }
  .container p {
    justify-content: center;
    font-family: "Roboto", sans-serif; }

.container img {
  width: 100%; }

body {
  background-color: #040314;
  font-family: "Titillium Web", sans-serif; }

.container1 {
  max-width: 1080px;
  margin: 0 auto;
  color: #fff; }

section.slider {
  margin: 0 auto;
  width: 100%;
  height: auto;
  padding: 0 !important;
  overflow: hidden; }

.slider-content {
  width: 400%;
  height: auto;
  display: flex; }

.slider-content input, .img-mobile {
  display: none; }

.slide-box {
  width: 25%;
  height: auto;
  position: relative;
  text-align: center;
  transition: 1s; }

.slide-box img {
  width: 100%; }

.nav-manual, .nav-auto {
  position: absolute;
  width: 100%;
  margin-top: 34%;
  display: flex;
  justify-content: center; }

.nav-manual .manual-btn, .nav-auto div {
  border: 1px solid #00ff00;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.2s; }

.nav-manual .manual-btn:not(:last-child), .nav-auto div:not(:last-child) {
  margin-right: 10px; }

.nav-manual .manual-btn:hover {
  background-color: #00ff22; }

#radio1:checked ~ .nav-auto .auto-btn1, #radio2:checked ~ .nav-auto .auto-btn2, #radio3:checked ~ .nav-auto .auto-btn3, #radio4:checked ~ .nav-auto .auto-btn4 {
  background-color: #00ff00; }

#radio1:checked ~ .primeiro {
  margin-left: 0%; }

#radio2:checked ~ .primeiro {
  margin-left: -25%; }

#radio3:checked ~ .primeiro {
  margin-left: -50%; }

#radio4:checked ~ .primeiro {
  margin-left: -75%; }

.main {
  margin: 20px;
  padding: 20px;
  background-color: #f0f0f0; }

/* Estilos para a classe .Sobre */
.Sobre {
  margin-bottom: 20px; }

/* Estilos para o título <h2> dentro de .Sobre */
.Sobre h2 {
  color: black;
  font-size: 24px;
  margin-bottom: 10px; }

/* Estilos para os parágrafos dentro de .Sobre */
.Sobre p {
  color: black;
  font-size: 16px;
  margin-bottom: 10px; }

/* Estilos para os links dentro de .Sobre */
.Sobre a {
  color: #007bff;
  /* Azul */
  text-decoration: none; }

/* Estilos para links quando estão em hover */
.Sobre a:hover {
  text-decoration: underline; }

.container2 {
  display: flex;
  width: 100%;
  margin-top: 5%;
  height: 100vh;
  padding: 0px 2%; }

.github-link {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  margin-top: 20px;
  transition: color 0.3s; }

.github-link i {
  margin-right: 8px; }

.github-link:hover {
  color: #0366d6; }

@media screen and (max-width: 900px) {
  .img-desktop {
    display: none; }

  .img-mobile {
    display: block; }

  .nav-auto, .nav-manual {
    margin-top: 60%; } }
.contact-container {
  background-color: #1e1e1e;
  /* Fundo do container mais claro */
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
  width: 90%;
  max-width: 600px;
  justify-content: center; }
  .contact-container h1 {
    color: #fff; }

.form-group {
  margin-bottom: 20px; }

label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: #fff;
  /* Cor dos labels */ }

input[type="text"], input[type="email"], textarea {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #404040;
  color: #fff;
  font-size: 16px; }

input[type="text"]:focus, input[type="email"]:focus, textarea:focus {
  outline: none;
  background-color: #505050;
  box-shadow: 0 0 10px rgba(21, 255, 0, 0.5);
  /* Brilho no foco */ }

button {
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 5px;
  background-color: #00ff21;
  /* Botão vibrante */
  color: #1a1a1a;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s; }

button:hover {
  background-color: #00ff21;
  /* Efeito no hover */ }

/* Estilos Responsivos */
@media (max-width: 600px) {
  .contact-container {
    padding: 20px; }

  .navbar .nav-link {
    margin-left: 10px; }

  button {
    font-size: 16px;
    padding: 12px; } }
.main {
  margin: 20px;
  padding: 20px;
  background-color: #f0f0f0; }

/* Estilos para a classe .Sobre */
.Sobre {
  margin-bottom: 20px; }

/* Estilos para o título <h2> dentro de .Sobre */
.Sobre h2 {
  color: black;
  font-size: 24px;
  margin-bottom: 10px; }

/* Estilos para os parágrafos dentro de .Sobre */
.Sobre p {
  color: black;
  font-size: 16px;
  margin-bottom: 10px; }

/* Estilos para os links dentro de .Sobre */
.Sobre a {
  color: #007bff;
  /* Azul */
  text-decoration: none; }

/* Estilos para links quando estão em hover */
.Sobre a:hover {
  text-decoration: underline; }

/*# sourceMappingURL=style.css.map */
